body {
  bacround-color: #8B008B;
  font-family:Arial, sans-serif:
  color: #191970;
}
.kartu-foto profil{
  width:300px;
  margin:50px auto:
  padding:20px;
  bacround-color:cyan;
  border-radius:15px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
  text-align:center;
}
.kartu-foto profil img{
  width:150px;
  height:150px:
  border-radius:50%;
}
